<ion-pane>
    <ion-content class="home">
        <div class="padding">
            <h1>Say Hello to the Web Farming World</h1>
            </div>
            <img src="../img/wall2.png" alt="tag" />
        <!--</div>-->
    </ion-content>
     <ion-tabs class="tabs-background-assertive tabs-color-dark tabs-icon-top" >
      <ion-tab title="Home" badge="5" badge-style="badge-calm" icon="ion-home" href="/home"></ion-tab>
      <ion-tab title="Person" icon="ion-person" href="/person"></ion-tab>
      <ion-tab title="MISC" icon="ion-nuclear" href="/test"></ion-tab>
    </ion-tabs>
</ion-pane>