<ion-pane>
  <ion-header-bar class="bar-assertive">
    <button class="button button-clear icon ion-navicon button-left button-dark"></button>
    <h1 class="title" style="color:black">ESI App Developers</h1>
    <button class="button icon button-clear ion-gear-a button-dark"></button>
  </ion-header-bar>
  <!--now for search navigation-->
      
  <ion-content ng-controller="ListController" class="grad">
    <!--Search Bar START-->
    <!--Search Bar END-->
    <!--<em>Status : {{status.name}}</em>-->
    <!-- here comes the content but first design the privileges -->
    <div class="padding transparent">
        <h1>Hi!</h1>
        <p>There is something that we want to share with the world and almost all of them is like them....<em>I say almost <b>not All!!!</b></em></p>
    </div>
    
    
        
  </ion-content>
  <ion-tabs class="tabs-background-assertive tabs-color-dark tabs-icon-top" >
      <ion-tab title="Home" icon="ion-home" href="/home"></ion-tab>
      <ion-tab title="Person" badge="5" badge-style="badge-assertive" icon="ion-person" href="/person"></ion-tab>
      <ion-tab title="MISC" icon="ion-nuclear" href="/test"></ion-tab>
    </ion-tabs>
</ion-pane>