/* Empty. Add your own CSS if you like */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.pad-bot{
    padding-bottom:30px;
}

.home{
    
}
.home { 
  background: url('../img/wall.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  image-resolution:'500x300';
}

.home h1{
    font-family: 'Poiret One', cursive;
    margin:0 auto;
    text-align:center;
    padding-top:25%;
}

.home img{
    padding:5% 0;
    /*margin:0px auto;*/
    display:block;
    margin:0px auto;
    vertical-align:center;
    alignment-adjust:center;
    /*width:100%;*/
}

.image-bg{
    background:white;
}
/* change the background color */
.frame_look_feel {
background-color: red;
}
.grad{
  background: -webkit-linear-gradient(left,rgba(232,148,69,0),rgba(255,125,66,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Fx 3.6-15*/
  background: linear-gradient(to top right, rgba(225,118,27,0.7), rgba(255,0,0,0.8)); /*Standard*/
}

.transparent{
    background:transparent;
}